*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #fff */
}

html, body {
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
}

.parent{
  padding: 20px;
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 20px;
}

.cards{
  width: 300px;
  padding: 20px;
  border: 2px solid white;  
  color: #fff;
  text-align: center;
  border-radius: 10px;
  background-color: #222 ;
}

.cards p{
  margin: 20px 0;
}

.cards img{
  height: 140px ;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.card button{
  padding: 10px 20px;
  background-color: #fff;
  color: #111;
  border: none;
  border-radius: 5px;

}